# Ignore build output and IDE configs
.settings/
bin/
target/
.classpath
.project

# Ignore all files by default
*

# Keep these specific files and folders
!api-gateway.properties
!auth-service.properties
!registration-service.properties
!token-service.properties
!product-service.properties
!order-service.properties
!orchestrator-service.properties
!stock-service.properties
!payment-service.properties
!shipment-service.properties
!notification-service.properties
